.flexicon
{
    display: flex;
    justify-content: center;
    h2
        {
            display: inline-block;
        }
    .fas 
    {
        padding-top: 26px;
        margin-right: 22px;
    }
}


